<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1292052</string>
    	<string>1295644</string>
    	<string>1292720</string>
    	<string>1291546</string>
    	<string>1292063</string>
    	<string>1292001</string>
    	<string>1295124</string>
    	<string>1291561</string>
    	<string>2131459</string>
    	<string>3793023</string>
    	<string>1292722</string>
    	<string>3541415</string>
    	<string>1291549</string>
    	<string>3011091</string>
    	<string>1291560</string>
    	<string>1291841</string>
    	<string>1292213</string>
    	<string>1300267</string>
    	<string>1291828</string>
    	<string>1292000</string>
    	<string>1418019</string>
    	<string>1292434</string>
    	<string>3443389</string>
    	<string>1291999</string>
    	<string>1305164</string>
    	<string>1296339</string>
    	<string>1292679</string>
    	<string>1291990</string>
    	<string>1295865</string>
    <string>1291585</string>
    <string>1298070</string>
    <string>4268598</string>
    <string>1296909</string>
    <string>1297052</string>
    <string>2353023</string>
    <string>1652587</string>
    <string>1297192</string>
    <string>1292401</string>
    <string>1293359</string>
    <string>5322596</string>
    <string>3072124</string>
    <string>1291832</string>
    <string>2149806</string>
    <string>1292343</string>
    <string>1293544</string>
    <string>1291545</string>
    <string>1485260</string>
    <string>1316510</string>
    <string>1291843</string>
    <string>1291875</string>
    <string>1297359</string>
    <string>3742360</string>
    <string>1297630</string>
    <string>1292849</string>
    <string>1292208</string>
    <string>4917726</string>
    <string>1293318</string>
    <string>1292656</string>
    <string>1291818</string>
    <string>1292402</string>
    <string>1849031</string>
    <string>1292064</string>
    <string>1291552</string>
    <string>1293839</string>
    <string>3442220</string>
    <string>1293350</string>
    <string>6786002</string>
    <string>1291583</string>
    <string>1293182</string>
    <string>1291858</string>
    <string>1292224</string>
    <string>2129039</string>
    <string>1299398</string>
    <string>1292215</string>
    <string>1900841</string>
    <string>3319755</string>
    <string>1309046</string>
    <string>1307914</string>
    <string>1298624</string>
    <string>1851857</string>
    <string>1417598</string>
    <string>1292274</string>
    <string>2334904</string>
    <string>1294371</string>
    <string>1292528</string>
    <string>4202302</string>
    <string>1292328</string>
    <string>3287562</string>
    <string>1937946</string>
    <string>1293964</string>
    <string>3792799</string>
    <string>1291870</string>
    <string>1309163</string>
    <string>2209573</string>
    <string>1295399</string>
    <string>1304447</string>
    <string>1418834</string>
    <string>1578507</string>
    <string>1291579</string>
    <string>1305487</string>
    <string>1291822</string>
    <string>2043546</string>
    <string>1297447</string>
    <string>1293460</string>
    <string>1306861</string>
    <string>1300960</string>
    <string>1858711</string>
    <string>1302827</string>
    <string>3007773</string>
    <string>1388216</string>
    <string>1760622</string>
    <string>3008247</string>
    <string>1294240</string>
    <string>1418200</string>
    <string>1907966</string>
    <string>1292281</string>
    <string>1297574</string>
    <string>1295409</string>
    <string>1291578</string>
    <string>1300992</string>
    <string>1296753</string>
    <string>1308817</string>
    <string>1865703</string>
    <string>1292217</string>
    <string>1291853</string>
    <string>5989818</string>
    <string>2363506</string>
    <string>21937445</string>
    <string>1294638</string>
    <string>2053515</string>
    <string>1292659</string>
    <string>1304102</string>
    <string>3011235</string>
    <string>1293181</string>
    <string>1297478</string>
    <string>1308575</string>
    <string>1292233</string>
    <string>3157605</string>
    <string>1308767</string>
    <string>1305690</string>
    <string>1295038</string>
    <string>2297265</string>
    <string>1905462</string>
    <string>1300299</string>
    <string>1308857</string>
    <string>1292270</string>
    <string>1293172</string>
    <string>1978709</string>
    <string>1397546</string>
    <string>1303037</string>
    <string>2213597</string>
    <string>1307793</string>
    <string>1419936</string>
    <string>1296141</string>
    <string>6985810</string>
    <string>1291879</string>
    <string>1300374</string>
    <string>5964718</string>
    <string>4798888</string>
    <string>1292728</string>
    <string>2300586</string>
    <string>1302476</string>
    <string>2365260</string>
    <string>1299361</string>
    <string>1292056</string>
    <string>1293764</string>
    <string>1292218</string>
    <string>1292214</string>
    <string>1307811</string>
    <string>21937452</string>
    <string>1307315</string>
    <string>1309027</string>
    <string>1291557</string>
    <string>1401118</string>
    <string>1299327</string>
    <string>1308777</string>
    <string>1291844</string>
    <string>1292062</string>
    <string>1306249</string>
    <string>1292287</string>
    <string>3824274</string>
    <string>1304073</string>
    <string>1291824</string>
    <string>1304056</string>
    <string>1862151</string>
    <string>1300741</string>
    <string>1301106</string>
    <string>1300117</string>
    <string>3018123</string>
    <string>6534248</string>
    <string>1291992</string>
    <string>3217169</string>
    <string>1303394</string>
    <string>1301171</string>
    <string>1293908</string>
    <string>1959195</string>
    <string>1867345</string>
    <string>4739952</string>
    <string>1302467</string>
    <string>1302425</string>
    <string>1301169</string>
    <string>3011051</string>
    <string>1438652</string>
    <string>1291568</string>
    <string>1756073</string>
    <string>3075287</string>
    <string>1292055</string>
    <string>1301617</string>
    <string>1316572</string>
    <string>1292329</string>
    <string>1291572</string>
    <string>1291571</string>
    <string>1306029</string>
    <string>1292365</string>
    <string>5912992</string>
    <string>1299131</string>
    <string>1292370</string>
    <string>1292223</string>
    <string>1294639</string>
    <string>1292220</string>
    <string>1308807</string>
    <string>1291548</string>
    <string>1292262</string>
    <string>1296736</string>
    <string>1294408</string>
    <string>1780330</string>
    <string>1929463</string>
    <string>1301753</string>
    <string>1787291</string>
    <string>1303021</string>
    <string>10777687</string>
    <string>1298653</string>
    <string>1293530</string>
    <string>1962116</string>
    <string>1428175</string>
    <string>1291565</string>
    <string>1293399</string>
    <string>6146955</string>
    <string>3073124</string>
    <string>1293929</string>
    <string>1844413</string>
    <string>4023638</string>
    <string>1305725</string>
    <string>1292925</string>
    <string>1292348</string>
    <string>1395091</string>
    <string>5908478</string>
    <string>1369747</string>
    <string>1292047</string>
    <string>1293708</string>
</array>
</plist>
